#signupbutton{
    width: 200px;
    background-color: transparent;
    color: white;
    padding-top: 25px;
    color: white;
    /* flex-direction: column; */
    padding-left: 50px;
    
}

.shield-text{
    position: absolute;
    right: 40%;
    left: 37%;
    bottom: 33%;
    text-shadow: 1px 1px black;
}